// Place all the styles related to the Developers controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// .field_with_errors – Style for the form fields and labels with errors.
// #errorExplanation – Style for the div element with the error messages.
// #errorExplanation h2 – Style for the header of the div element.
// #errorExplanation p – Style for the paragraph that holds the message that appears right below the header of the div element.
// #errorExplanation ul li – Style for the list items with individual error messages.

.field_with_errors {
  display: inline;
  padding: 8px;
  border-width: 2px;
  border-style: solid;
  border-color: #f00;
}

#errorExplanation {
  width: 480px;
  padding: 7px;
  border-width: 4px;
  border-style: solid;
  border-color: #a3a;
  color: red;
}

#errorExplanation h2 {
  color: black;
  font-size: 44px;
  font-weight: bold;
  font-family: sans-serif;
}

.data {
  text-align: center;
  margin: 0 auto;
  margin-bottom: 12px;
  padding: 12px;
  padding-left: 22px;
  padding-right: 22px;
  background-color: #afa;
  width: 120px;
  -moz-border-radius: 20px;
  border-radius: 20px;
}

.new-dev-offer {
  text-align: center;
  display: inline-block;
  border-width: 2px;
  border-style: solid;
  border-color: #222;
  width: 305px;
  padding: 18px;
  margin: 8px auto;
  margin-left: 7px;
  -moz-border-radius: 20px;
  border-radius: 20px;
  background-color: #aa4;
}

.new-dev-offer a {
  text-decoration: none;
  color: #000;
}

.developer-box a {
  text-decoration: none;
  color: #000;
  background-color: #d88;
  padding: 3px;
  padding-left: 18px;
  padding-right: 18px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  border-width: 2px;
  border-style: solid;
  border-color: #222;
}

.developer-box {
  background-color: #dff;
  text-align: center;
  display: inline-block;
  padding: 4px;
  margin: 8px;
  border-width: 3px;
  border-style: solid;
  border-color: #aaa;
  -moz-border-radius: 20px;
  border-radius: 20px;
  -moz-box-shadow: 0px 0px 6px #000;
  -webkit-box-shadow: 0px 0px 6px #000;
  box-shadow: 0px 0px 6px #000;
}

input {
  font-size: 14px;
  text-decoration: none;
  color: #000;
  background-color: #d88;
  padding: 3px;
  padding-left: 18px;
  padding-right: 18px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  border-width: 2px;
  border-style: solid;
  border-color: #222;
}

.notupdated {
  background-color: #d33;
}

.update-time {
  display: inline-block;
  text-align: center;
  border-width: 2px;
  border-style: solid;
  border-color: #222;
  width: 485px;
  padding: 18px;
  margin: 8px auto;
  margin-left: 37px;
  -moz-border-radius: 20px;
  border-radius: 20px;
  background-color: #d7b;
}

.hidden {
  display: none;
}

.error-lightbox {
  position: absolute;
  top: 200px;
  left: 250px;
  border: 2px solid #000;
  color: #222;
  min-height: 200px;
  padding: 50px;
  width: 480px;
  margin: 30px auto;
  -moz-border-radius: 20px;
  border-radius: 20px;
  background: #d22;
}
