$fail-background: #d99;
$weak-background: #fd9;
$nominal-background: #dfd;
$win-background: #ada;

$fail-accent: #fdd;
$weak-accent: #fc9;
$nominal-accent: #cec;
$win-accent: #dfd;

$fail-type: white;
$weak-type: #d93;
$nominal-type: #696;
$win-type: white;

.shared-header {
  float: left;
}

.field_with_errors {
  display: inline;
  padding: 8px;
  border-width: 2px;
  border-style: solid;
  border-color: #f00;
}

#errorExplanation {
  width: 480px;
  padding: 7px;
  border-width: 4px;
  border-style: solid;
  border-color: #a3a;
  color: red;
}

#errorExplanation h2 {
  color: black;
  font-size: 44px;
  font-weight: bold;
  font-family: sans-serif;
}

.data {
  margin: 0 auto;
  margin-bottom: 12px;
}

.data .metric {
  font-size: 200%;
  font-weight: bold;
}

.linked-actions {
}

.linked-actions a {
  text-decoration: none;
}

.developer-box a, .developer-box a:visited{
  color: blue;
  text-decoration: none;
  padding: 3px;
  padding-left: 18px;
  padding-right: 18px;
}

.developer-box {
  background-color: #ddd;
  display: inline-block;
  padding: 4px;
  margin: 8px;
  border-width: 3px;
  border-style: solid;
  border-color: #aaa;
  -moz-border-radius: 10px;
  border-radius: 10px;
  -moz-box-shadow: 0px 0px 6px #000;
  -webkit-box-shadow: 0px 0px 6px #000;
  box-shadow: 0px 0px 6px #000;
}

.developer-box h2 a:visited,
.developer-box h2 a
{
  color: #333;
}

.developer-box .actions {
  float: right;
  overflow: auto;
}

.developer-box .developer-metric {
  clear: both;
  overflow: auto;
  background-color: white;
  margin: 8px;
  padding: 8px;  
  -moz-border-radius: 5px;
  border-radius: 5px;
  border: gray solid 1px;
}

.developer-box .developer-metric.fail {
  background-color: $fail-background;
}

.developer-box .developer-metric.weak {
  background-color: $weak-background;
}

.developer-box .developer-metric.nominal {
  background-color: $nominal-background;
}

.developer-box .developer-metric.win {
  background-color: $win-background;
}

.button {
  font-size: 14px;
  text-decoration: none;
  color: #000;
  background-color: #8dd;
  padding: 3px;
  padding-left: 18px;
  padding-right: 18px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  border-width: 2px;
  border-style: solid;
  border-color: #222;
}

.fail .button {
  background-color: $fail-accent;
}
.weak .button {
  background-color: $weak-accent;
}
.nominal .button {
  background-color: $nominal-accent;
}
.win .button {
  background-color: $win-accent;
}

.score-description {
  float: right;
  font-size: 80%;
}

.fail .score-description {
  color: $fail-type;
}

.weak .score-description {
  color: $weak-type;
}

.nominal .score-description {
  color: $nominal-type;
}

.win .score-description {
  color: $win-type;
}

.input {
  font-size: 14px;
  text-decoration: none;
  color: #000;
  padding: 3px;
  padding-left: 18px;
  padding-right: 18px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  border: 1px solid #222;
}

.notupdated {
  background-color: #d33;
}

.update-time {
  float: right;
}

.hidden {
  display: none;
}

.error-lightbox {
  position: absolute;
  top: 200px;
  left: 250px;
  border: 2px solid #000;
  color: #222;
  min-height: 200px;
  padding: 50px;
  width: 480px;
  margin: 30px auto;
  -moz-border-radius: 20px;
  border-radius: 20px;
  background: #d22;
}

form {
  float: right;
}
