!!!
%html{"xmlns:fb"=>"http://www.facebook.com/2008/fbml"}
  %head
    %title
      PKTracker

    = stylesheet_link_tag 'application'
    = javascript_include_tag 'application'

    = csrf_meta_tags

  %body
    %h2.shared-header Developer Metrics
    .error-lightbox.hidden
      %h1
        PROBLEM.
        %p
          (if this doesn't go away at the next refresh, something is probably wrong.)
        .error-code
          CODE OF ERROR OF PROBLEM WOULD GO HERE

    .workspace
      = yield